@model ProductDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandID" class="control-label"></label>
                <select class="form-control" asp-for="BrandID" asp-items="ViewBag.Brands"></select>
                <span asp-validation-for="BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select class="form-control" asp-for="CategoryID" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorID" class="control-label"></label>
                <select class="form-control" asp-for="ColorID" asp-items="ViewBag.Colors"></select>
                <span asp-validation-for="ColorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select class="form-control" asp-for="GenderID" asp-items="ViewBag.Genders"></select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl2" class="control-label"></label>
                <input asp-for="ImageUrl2" class="form-control" />
                <span asp-validation-for="ImageUrl2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl3" class="control-label"></label>
                <input asp-for="ImageUrl3" class="form-control" />
                <span asp-validation-for="ImageUrl3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl4" class="control-label"></label>
                <input asp-for="ImageUrl4" class="form-control" />
                <span asp-validation-for="ImageUrl4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Show" class="btn btn-outline-dark">Listeye Geri Dön</a>
</div>

