@model IEnumerable<ProductDto>

@if (ViewBag.CurrentCategory == null)
{
    <div class="container-lg my-3">
        <img src="/images/banner.jpg" class="img-fluid"/>
    </div>
}

<div class="container-sm">
    <div class="row">
        <div class="col-1">
            @await Component.InvokeAsync("Menu")
        </div>
        <div class="col-1">
            @await Component.InvokeAsync("Gender")
        </div>
        <div class="col-1">
            @await Component.InvokeAsync("BrandFilter")
        </div>
        <div class="col-1">
            @await Component.InvokeAsync("ColorFilter")
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_ProductCard" model="item"/>
        }
    </div>
</div>

<ul class="pagination justify-content-center mt-3">
    @for (var i = 1; i <= ViewBag.TotalPages; i++)
    {
        <li class="page-item @(i==ViewBag.CurrentPage ? "active":"")">
            <a class="page-link " asp-action="Index" asp-route-page="@i" asp-route-catName="@ViewBag.CurrentCategory">@i</a>
        </li>
    }
</ul>