<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoeShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/swiper.css" type="text/css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>


</head>
<body style="background-color: rgb(250, 250, 250);">
<header>
    <div id="head">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index"><img src="/images/shoe3.png" alt="Logo" class="img-fluid"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div style="width: 45em;"></div>
                    <div class="d-flex">
                        <button class="btn btn-outline-dark ms-3"><i class="fa-solid fa-basket-shopping mr-2"></i>Sepetim</button>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown ml-3">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i>
                                    @User.Identity.Name
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-controller="Users" asp-action="Details" asp-route-username="@User.Identity.Name">Bilgilerim</a></li>
                                    <li><a asp-controller="Users" asp-action="Logout" class="dropdown-item">Çıkış Yap</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="dropdown ml-3">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a asp-controller="Users" asp-action="Login" class="dropdown-item">Giriş Yap</a></li>
                                    <li><a asp-controller="Users" asp-action="Register" class="dropdown-item" >Kayıt Ol</a></li>
                                </ul>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <p class="GeneratedMarquee">Tüm Alışverişlerinizde Sepet Tutarının %2'si Kadar Sneaks.ON Puan Hediye Üstelik Kargo Ücretsiz</p>
        </div>
    </div>
    
</header>
    <div class="container-fluid px-5" style="margin-top: 9rem">
        <main role="main" class="pb-3">
            <div class="container-fluid">
                <div class="mt-3">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>  

    <footer class="border-top footer text-muted">
        <div class="container d-flex align-items-center flex-column">
            &copy; 2022 - ShoeShop
        </div>
    </footer>
        <script src="https://kit.fontawesome.com/3417e16898.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

        <script>
            var swiper = new Swiper(".mySwiper", {
                spaceBetween: 30,
                centeredSlides: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
